

<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="./include/css/pintuer.css">
<link rel="stylesheet" href="./include/css/admin.css">
<script src="./include/js/jquery.js"></script>
<script src="./include/js/pintuer.js"></script>
<script src="./include/vendor/lib/ios-orientationchange-fix.js"></script>
<script src="./include/vendor/lib/jquery-1.9.0.min.js"></script>
<script src="./include/vendor/source/jquery.swipebox.min.js"></script>
<style>
</style>
</head>
<body>

 <div class="panel admin-panel">
 <table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
  <tr>
   
  </tr>
  <tr>
    <td align="left" valign="top">
     <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
      <tr>
       <td width="90%" align="left" valign="middle">
       <br>
         <li> <input type="button" class="button border-main icon-plus-square-o" name="submit" onclick="javascript:history.back(-1);" value="Return"> </li>
         </td>
  </table>  
    </td>
  </tr>
  <tr>
  </table>
    <table  id="print" class="table table-hover text-center" width="1200px">
      <tr >
    
          <th width="100" style="text-align:left; padding-left:10px;">number</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Name</th>
        <th>Title</th>
        <th>Content</th>
        <th>Score</th>
        <th class="noprint">operation</th>
      </tr>



 <?php 

 if(isset($result) && count($result)>0){
         


 if(!empty($result)){?>

    <?php foreach($result as $val):?>
      <tr   onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">

      
      
        <td width="100" style="text-align:left; padding-left:10px;">
            <?php echo ++$i?></td>
        <td   align="center" valign="middle" class="borderright borderbottom"><?php echo $val['username']?></td>
        <td align="center" valign="middle" class="borderright borderbottom"><?php echo $val['user_email']?></td>
        <td align="center" valign="middle" class="borderright borderbottom"><?php echo $val['user_phone']?></td>
        <td align="center" valign="middle" class="borderright borderbottom"><?php echo $val['name']?></td>
          <td align="center" valign="middle" class="borderright borderbottom"><?php echo $val['title']?></td>
            <td align="center" valign="middle" class="borderright borderbottom"><?php echo $val['content']?></td>
        <td align="center" valign="middle" class="borderright borderbottom"><?php echo $val['score'] .'star'?></td>
        <td id="noprint" width="15%" align="center" valign="middle" class="borderbottom"><a href="./index.php?m=feed&a=del&id=<?php echo $val['id']?>" target="" onFocus="this.blur()" class="add">Delete</a></td>

      </tr>

    <?php endforeach;?>
  

    <?php } else{?>
    <tr><td>no data</td></tr>
    <?php } ?> 

    <?php } ?>       
     <tr>
    <td colspan="13" align="center" valign="top" class="fenye"><?php echo $p->showPage()?></td>
 
      </tr>
    </table>
   
  </div> 
</body>
</html>